

#opcoes {
  padding: 30px;
}

#overview {
  padding-top: 20px;
}

header {
  position: fixed;
  z-index: 999;
}


.main {
  /* background-image: url("/assets/images/gatinho-operando.jpg"); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-height: calc(100vh - 5rem);
  padding-top: 5rem;
  background-image: linear-gradient(to bottom, #0000002f, #000000e5), url("/assets/images/gatinho-operando.jpg");
}

#info {
  position: absolute;
  background-color: #d9d9d983;
  top: 200px;
  right: 170px;
  padding: 20px;
  border-radius: 10px;
  line-height: 2;
  font-size:larger;
 
  /* padding-left: 50px; */
}

#info h3 {
  font-weight: bolder;
  padding-right: 80px;
}

#add {
  margin-top: -5px
}

.section-cadastro {
  margin-top: 1rem;
}

#Cadastrar {
  display: flex;
  justify-content:left;
  padding: 10px;
  padding-top: 20px;
  background-color: #d9d9d986;
  margin-right: 85%;
  margin-left: 60px;
  border-radius: 10px;
  font-size: small;
  transition: background-color 0.3s, transform 0.3s;
  width: 10rem;
  height: 3.5rem;
  cursor: pointer;
}

#Cadastrar:hover {
  transform: scale(1.05);
}


#Cadastrar h3 {
  padding-left: 20px;

}

#lista {
  padding-bottom: 20px;
  list-style: none;
  position: relative;
  
  li {
    color: white;
    display: flex;
    justify-content:left;
    padding: 20px;
    background-image: linear-gradient(to bottom, #f5a700ef, #00000075);
    margin-right:45%;
    margin-top: 10px;
    margin-left: 30px;
    border-radius: 10px;
    font-size: small;
    border: 2px solid #5a3211;
    transition: background-color 0.3s, transform 0.3s; 
    
  }

  li:hover {
    transform: scale(1.05);
  }
}



#lista li {
  padding: 20px;
  padding-right: 30%;
  font-size: medium;
}

.imagem {
  margin-right: 20px;
  border-radius: 5px;
}

.topicos {
  margin-right: 100px;
}

.topicos p{
  padding-bottom: 20px;
  /* padding-right: ; */
  
}

.botoes {
  display: flex;
  align-content: space-around;
  gap: 10px;
  padding-left: 20px;
  margin-left: 100%;
  transition: background-color 0.3s, transform 0.3s; 
}

/* .botoes:hover {
  transform: scale(1.05);
} */

.remove {
  background-color: #d6ad61;
  border-radius: 10px;
  padding: 10px;
  
  
}

hr {
  border: none;         /* Remove a borda padrão */
  height: 2px;          /* Define a altura da linha */
  background-color: #7c540a8e; /* Cor da linha */
  margin: 20px 0;       /* Margens superiores e inferiores */
}

#info hr {
  /* border:         */
  height: 2px;          
  background-color: #000000; 
  margin-top: 10px;
}

footer {
  z-index: 1000;
}

.valores {
  display: flex;
  justify-content: space-around;
}

#remover {
  background-color: rgba(255, 0, 0, 0.308);
  border: 2px solid #5c0404;
  transition: background-color 0.3s, transform 0.3s; 
  
}

#remover:hover {
  transform: scale(1.10);
  cursor: pointer;
}

#editar {
  background-color: rgba(2, 14, 185, 0.349);
  border: 2px solid #03024d;
  transition: background-color 0.3s, transform 0.3s;
}

#editar:hover {
  transform: scale(1.10);
  cursor: pointer;
}

#visualizar {
  background-color: rgba(4, 187, 13, 0.342);
  border: 2px solid #035507;
  transition: background-color 0.3s, transform 0.3s;
}

#visualizar:hover {
  transform: scale(1.10);
  cursor: pointer;
}