.sidebar {
  height: 30rem;
  width: 5rem;
  background-color: #fefefeBB;
  position: fixed;
  right: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}

.sidebar__pfp {
  width: 3.8rem;
  height: 3.8rem;
  margin-bottom: .5rem;
  border-radius: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.sidebar__name {
  font-weight: 500;
  margin-bottom: .2rem;
  font-size: .9rem;
}

.sidebar__role {
  font-size: .8rem;
  text-align: center;
  display: block;
  margin-bottom: 1rem;
}

.sidebar__btn {
  width: 4rem;
  border: none;
  border-radius: 3px;
  color: #b32323;
  cursor: pointer;
}

.sidebar__btn:hover {
  transition: 100ms ease-in-out;
  box-shadow: 1px 1px #0000008a
}