* {
  background-color: brown;
}

h1 {
  color: bisque;
}

p {
  padding: 10px;
  background-color: rgb(53, 22, 22);
  border-radius: 10px;
  color: aliceblue;
}

a {
  color: rgb(10, 209, 43);
  text-decoration: none;
}